header 
{
	display: flex;
	text-align: center;
    margin-left: 300px ;
}
nav 
{
	display: flex;
    margin-left: 200px;
    margin-top: 20px;
}
nav h2
{
	font-size: 0.8em;
	margin-right: 25px;
}
.texte_sur_image
{
	position: relative;
	bottom: 320px;
	text-align: center;
	font-size: 1.5em;
}
section a
{
	background-color:rgb(240,120,0);
	color: white;
	padding:8px 25px; 
	text-decoration:none;
	position: relative;
	font-size: 0.7em;
}
#option
{
	display: flex;
	position: relative;
	bottom: 100px;
	text-align: center;
	margin-left: 200px;
}
.ACCEUIL
{
	width: 300px;
	margin-right: 20px;
}
.famille
{
	width: 100px;
	background-color:white; 
    position: relative;
    margin-left:10px;
}
footer
{
	display: flex;
	margin-left: 250px;
	border-radius: 20px ;

}
.savader
{
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	position: relative;
	bottom: 20px;
	width: 220px;
	height: 280px;
	padding-top: 25px;


}
.famille
{
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	position: relative;
	bottom: 20px;
	right: 10px;
	width: 250px;
	height: 280px;
	padding-top: 25px;


}
.offrir2
{
	background-image:url("images/images2.jpg");
    margin-left:50px;
    border-radius: 20px;
    height: 270px;
    width: 400px;
}
.offrir1
{
	background-image:url("images/images3.jpg");
	height: 270px;
    width: 400px;
    border-radius: 20px;
}